#@innerLayout()
#define main()
<div class="row">
	<div class="col-lg-6 col-sm-6 col-md-6">
		<div class="panel panel-info">
			  <!-- Default panel contents -->
			  <div class="panel-heading">
			  		<span class="summary_title">会员汇总</span>
			  </div>
			  <div class="panel-body">
			    	  <!-- List group -->
				  <div class="list-group">
				    <a class="list-group-item">会员周本周约课总数<span class="badge">#(weekReserveCount_sum)</span></a>
				    <a class="list-group-item">会员冻结课程总数<span class="badge">#(disableCourseCount_sum)</span></a>
				  </div>
			  </div>
			</div>
		</div>
		
		<div class="col-lg-6 col-sm-6 col-md-6">
		<div class="panel panel-info">
			  <!-- Default panel contents -->
			  <div class="panel-heading">
			  	<span class="summary_title">课程汇总</span>
			  </div>
			  <div class="panel-body">
			    	 <!-- List group -->
					  <div class="list-group">
					    <a class="list-group-item">课表本周约课总人数<span class="badge">#(stuNumber_sum)</span></a>
					    <a class="list-group-item">课表本阶段约课总人数<span class="badge">#(stuNumber_sumAll)</span></a>
					  </div>
			  </div>
			</div>
		</div>
			
		<div class="col-lg-6 col-sm-6 col-md-6">
		<div class="panel panel-info">
			  <!-- Default panel contents -->
			  <div class="panel-heading">
			  	<span class="summary_title">约课汇总</span>
			  </div>
			  <div class="panel-body">
			    	<!-- List group -->
				  <div class="list-group">
				    <a class="list-group-item">约课表本周【已预约】状态人数<span class="badge">#(reserveCourse_sum)</span></a>
				    <a class="list-group-item">约课表本周【上课中】状态人数<span class="badge">#(reserveCourse_sum_ing)</span></a>
				    <a class="list-group-item">约课表本周【未确认】状态人数<span class="badge">#(reserveCourse_sum_ed)</span></a>
				    <a class="list-group-item">约课表本周【已确认】状态人数<span class="badge">#(reserveCourse_sum_confirmed)</span></a>
				    <a class="list-group-item">约课表本阶段【已预约】状态人数<span class="badge">#(reserveCourse_sumAll)</span></a>
				    <a class="list-group-item">约课表本阶段【未确认】状态人数<span class="badge">#(reserveCourse_sum_edAll)</span></a>
				    <a class="list-group-item">约课表本阶段【已确认】状态人数<span class="badge">#(reserveCourse_sum_confirmedAll)</span></a>
				  </div>
			  </div>
			</div>
	</div>
</div>
#end
