#@innerLayout()
#define main()
<div class="row">
	<div class="col-lg-6 col-sm-6 col-md-6">
		<div class="panel panel-info">
			  <!-- Default panel contents -->
			  <div class="panel-heading">
			  		<span class="summary_title">会员汇总</span>
			  </div>
			  <div class="panel-body">
			    	  <!-- List group -->
				  <div class="list-group">
				    <a class="list-group-item">总会员数<span class="badge">4</span></a>
				    <a class="list-group-item">本周新增会员数<span class="badge">4</span></a>
				    <a class="list-group-item">本月新增会员数<span class="badge">4</span></a>
				  </div>
			  </div>
			</div>
		</div>
		
		<div class="col-lg-6 col-sm-6 col-md-6">
		<div class="panel panel-info">
			  <!-- Default panel contents -->
			  <div class="panel-heading">
			  	<span class="summary_title">课程汇总</span>
			  </div>
			  <div class="panel-body">
			    	 <!-- List group -->
					  <div class="list-group">
					    <a class="list-group-item">总课程数<span class="badge">4</span></a>
					    <a class="list-group-item">本周热门课程<span class="badge">4</span></a>
					    <a class="list-group-item">本月热门课程<span class="badge">4</span></a>
					  </div>
			  </div>
			</div>
		</div>
			
		<div class="col-lg-6 col-sm-6 col-md-6">
		<div class="panel panel-info">
			  <!-- Default panel contents -->
			  <div class="panel-heading">
			  	<span class="summary_title">约课汇总</span>
			  </div>
			  <div class="panel-body">
			    	<!-- List group -->
				  <div class="list-group">
				    <a class="list-group-item">约课总人次<span class="badge">4</span></a>
				    <a class="list-group-item">本周约课数<span class="badge">4</span></a>
				    <a class="list-group-item">约课到课率<span class="badge">99%</span></a>
				  </div>
			  </div>
			</div>
	</div>
</div>
#end
