<div class="jf-page-side">
	
	#--
	<!--公告栏-->
	<div class="jf-panel">
		<div class="jf-panel-header">
			<h1><a href=""><i class="fa fa-bullhorn"></i>公告栏</a></h1>
		</div>
		<div class="jf-panel-body">
			<div class="jf-notice-list">
				<a href="#"><h3>JFinal 3.6 发布，五弹齐发迎新年</h3><span class="jf-common-time">15分钟前</span></a>
				<a href="#"><h3>JBolt插件 1.6.9 发布，完美支持JFinal-Undertow</h3><span class="jf-common-time">9小时前</span></a>
			</div>
		</div>
	</div>
	--#
	
	#include("_sponsor.html")
	
	<!--最新下载-->
	<div class="jf-panel">
		<div class="jf-panel-header">
			<h1 style="color: green;">亲亲袋鼠</h1>
		</div>
		<div class="jf-panel-body">
			<div class="list-group jf-download-list">
				<span style="color: gray;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KindyROO亲亲袋鼠国际早教源于澳洲，拥有37年历史，受澳洲医学家、教育家以及澳洲学者联合会（ASG)认证和推荐的国际婴幼儿启育机构，也是唯一有医学背景的早教机构。<br/>
       				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KindyROO亲亲袋鼠国际早教关注0-6岁儿童，是世界上首个以脑神经医学理念为教育基础的亲子机构。它强调“原始反射”在婴幼儿脑神经发育期间所起的重要作用，课程的最大特点是“在合适的时候给予孩子合适的刺激”
       			</span>
			</div>
		</div>
	</div>
	
</div>