<!-- 赞助商 -->
<div class="jf-panel sponsor">
	<div class="jf-panel-header">
		<h1 style="color: maroon;">教育理念</h1>
	</div>
	<div class="jf-panel-body">
		<ul class="jf-ads">
			<li class="style1">
				<div>
					<h5 style="padding-left: 20px;padding-top: 20px;">科学：</h5>
					<hr style="background: white;margin-left: 10px;margin-right: 10px;">
					<span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以脑神经学、神经心理学、发展心理学为课程研发理论依据；创始人有二十年医学临床实践经验，品牌三十年历史验证。</span>
				</div>
			</li>
			<li class="style0">
				<div>
					<h5 style="padding-left: 20px;padding-top: 20px;">国际：</h5>
					<hr style="background: white;margin-left: 10px;margin-right: 10px;">
					<span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;源于澳洲，专业程度享誉全球，在五大洲46个国家共有近600家分支机构，1000.000家庭受惠。</span>
				</div>
			</li>
			<li class="style3">
				<div>
					<h5 style="padding-left: 20px;padding-top: 20px;">信誉：</h5>
					<hr style="background: white;margin-left: 10px;margin-right: 10px;">
					<span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;成立于1982年，三十年历史见证，不断发展的国际化品牌，真实可见的教学效果赢得会员良好口碑。</span>
				</div>
			</li>
		</ul>
	</div>
</div>
