#set(seoTitle="亲亲袋鼠石景山中心")
#@layout()
#define main()
<div class="col jf-page-main jf-pdl0">
	### 首页轮播广告
	#include("_carousel.html")
	
	<!--扫码入社-->
	<div class="jf-panel">
		<div class="jf-panel-header">
			<h1>亲亲袋鼠石景山中心简介</h1>
		</div>
		<div class="jf-panel-body">
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;亲亲袋鼠北京石景山中心成立于2012年，已服务近三千位会员。面积达1500㎡，配备会员停车场、澳洲进口松木器械、瑞士FORBO亚麻地板、BOSCH地暖、德国SDFRESH福莱施新风系统。</span><br/>
			<hr>
			<span>【中心地址】北京市石景山区远洋山水南区38号楼底商D206</span><br/>
			<span>【咨询电话】010-88697400</span>
		</div>
	</div>
</div>

<!-- 包含侧边栏文件 -->
#include("_sidebar.html")
#end